@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    /* PUSH FOOTER TO THE BOTTOM */
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto Slab", serif;
    color: var(--text-color);
}

:root {
    --main-color: #B103C7;
    --text-color: #000000CC;
    --theme-border-radius: 8px;
    --theme-shadow-box: 0 0 12px 1px #00000012;
}

body::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

body::-webkit-scrollbar-thumb {
    background-color: #ABABAB;
    outline: 1px solid #ABABAB;
}

*,
::after,
::before {
    box-sizing: border-box;
}

p {
    margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem;
    line-height: 1.2;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

picture {
    display: flex;
}

a {
    color: inherit;
}

.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}

.main-container {
    max-width: 1600px;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.main-title {
    font-size: 54px;
    font-weight: 300;
}

.secondary-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    color: var(--main-color);
}

.copyright {
    max-width: 48px;
    margin-bottom: 0;
    font-size: 10px;
}

.theme-box {
    background-color: white;
    border-radius: var(--theme-border-radius);
    box-shadow: var(--theme-shadow-box);
}

/* ------------ Header ------------ */
.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    background: white;
    box-shadow: var(--theme-shadow-box)
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.logo {
    display: flex;
}

.logo__image {
    width: 168px;
}

.navbar {
    display: flex;
    gap: 28px;
}

.navbar__link {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.navbar__link--active {
    color: var(--main-color);
    font-weight: 500;
}
/* ------------ /end Header ------------ */


/* ------------ Footer ------------ */
.footer {
    padding: 8px;
    color: white;
    background-color: black;
}

.footer__inner {
    flex-direction: column;
}

.footer__copyright {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

/* ------------ /end Footer ------------ */


/* ------------ Body, Main wrapper ------------ */
.body {
    min-height: 100vh;
}

.body--asided {
    background-color: ghostwhite;
}

.main {
    flex-grow: 1;
}

.main-wrapper {
    /* As Main container */
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    /* PUSH FOOTER TO THE BOTTOM */
    flex-grow: 1;
}

.body--asided .main-wrapper {
    max-width: 1600px;
    padding: 40px;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

/* ------------ /end Body, Main wrapper ------------ */


/* ------------ Aside ------------ */
.aside {
    min-width: 240px;
}

.aside-categories {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    padding: 16px 20px;
    margin: 0;
    list-style: none;
    font-size: 15px;
}

.aside-categories a {
    text-decoration: none;
}

.aside-categories a:hover {
    text-decoration: underline;
}
/* ------------ /end Aside ------------ */


/* ------------ Pagination ------------ */
.pagination {
    margin-top: 40px;
}

.pagination__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin: 0px;
    padding-left: 0;
    list-style: none;
}

.pagination__link {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    background-color: white;
    border-radius: 4px;
    box-shadow: var(--theme-shadow-box);
}

.pagination__item--active .pagination__link {
    color: white;
    background-color: var(--main-color);
}

.pagination__link--arrows .material-symbols-outlined {
    font-size: 20px;
}

.pagination__link--dots {
    align-items: flex-end;
    font-weight: bold;
    background-color: transparent;
    box-shadow: none;
}
/* ------------ /end Pagination ------------ */


/* ------------ Glide ------------ */
.glide__track {
    position: relative;
}

.glide__arrows-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    pointer-events: none;
    user-select: none;
}

.glide__arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
}

.glide__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px #0000003d;
    pointer-events: all;
    user-select: all;
}

.glide__arrow svg {
    width: 32px;
    height: 32px;
    fill: #a3a3a3;
}

/* ------------ /end Glide ------------ */


/* ------------ Home page ------------ */
/* Glide */
.home-glide .glide__slide {
    height: auto;
    background-size: cover;
    background-position: bottom right;
}

.welcome__inner {
    display: flex;
    flex-direction: column;
    max-width: 1480px;
    margin: auto;
    padding: 156px 80px;
    color: #252323;
}

.welcome__title {
    font-weight: 100;
    font-size: 48px;
    line-height: 1;
    max-width: 660px;
    margin-bottom: 60px;
}

.welcome__text {
    max-width: 600px;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}

.quote-of-day__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1320px;
    height: 100%;
    margin: auto;
    padding: 0 80px;
    color: white;
}

.quote-of-day__title {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
}

.quote-of-day__body {
    font-size: 24px;
    font-weight: 300;
    padding-right: 28%;
    margin-bottom: 60px;
}

.quote-of-day__author {
    font-size: 18px;
    font-weight: 300;
    text-align: right;
    margin: 0;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
}

.gallery__image {
    object-fit: cover;
}

/* Philosophy */
.philosophy {
    padding-top: 100px;
    padding-bottom: 100px;
}

.philosophy__inner {
    flex-direction: column;
}

.philosophy__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 140px;
}

.philosophy__title {
    max-width: 780px;
    margin-bottom: 0;
}

.philosophy__subtitle {
    max-width: 280px;
    font-weight: 400;
    line-height: 1.2;
    text-align: right;
    color: #bbbbbb;
}

.philosophy__body {
    display: flex;
    justify-content: space-between;
}

.philosophy__first-block {
    max-width: 452px;
    margin-left: 120px;
    font-size: 14px;
    line-height: 1.2;
    text-align: justify;
    color: #000000bd;
}

.philosophy__second-block {
    max-width: 586px;
}

.philosophy__second-block-text {
    font-size: 14px;
    line-height: 1.2;
    text-align: justify;
    color: #000000bd;
}

.philosophy__author {
    font-size: 20px;
    text-align: right;
    color: #bbbbbb;
}

.philosophy__author-role {
    font-size: 12px;
    text-align: right;
    color: #bbbbbb;
}


/* About */
.about {
    position: relative;
    background-color: #f1f1f1;
}

.about__inner {
    flex-direction: column;
    padding-top: 72px;
    padding-bottom: 100px;
}

.about__title {
    margin-bottom: 40px;
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0 0 40px;
    padding: 0;
}

.about__list-eng {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
}

.about__list-ru {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
}

.about__book {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-attachment: fixed;
    background-position: center right;
    background-repeat: no-repeat;
}

/* Vision */
.vision__inner {
    display: flex;
}

.vision__image {
    width: 50%;
}

/* Expertise */
.expertise__inner {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 80px;
}

.expertise__title {
    margin-bottom: 0;
}

.expertise__tables {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 28px;
}

.expertise__table {
    width: 25%;
    padding: 12px 16px;
    line-height: 1.6;
    border: 1px solid black;
}

.expertise__table-title {
    margin-bottom: 6px;
    font-size: 13px;
    font-weight: 900;
}

.expertise__table-list {
    font-size: 13px;
    padding-left: 20px;
    margin: 0;
}

.expertise__tables-rows {
    width: 25%;
    margin-left: 24px;
}

.expertise__tables-rows .expertise__table {
    width: 100%;
}

.expertise__table-hr {
    margin-top: 32px;
}

.expertise__table-experience {
    margin-top: 80px;
}

.expertise__table-marketing {
    margin-left: -24px;
}

.expertise__table-sales {
    margin-top: 24px;
}

.expertise__table-strategy {
    margin-top: 60px;
}

/* Footer Banner */
.footer-banner__image {
    width: 100%;
    display: flex;
}

/* ------------ /end Home page ------------ */

/* ------------ Quote pages ------------ */
.quotes-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Quote card */
.quote-card {
    padding: 20px;
    font-size: 15px;
}

.quote-card__author {
    margin-bottom: 12px;
}

.quote-card__author-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 6px;
    font-size: 15px;
    font-weight: 400;
}

.quote-card__author-link:hover {
    text-decoration: underline;
}

.quote-card__author-icon {
    width: 20px;
    height: 20px;
}

.quote-card__body {
    font-weight: 300;
    color: black;
}

.quote-card__hr {
    margin-bottom: 16px;
    border: none;
    border-top: 1px solid #00000024;
}

.quote-card__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.quote-card__categories-icon {
    width: 20px;
    height: 20px;
}

.quote-card__categories-link {
    text-decoration: none;
}

.quote-card__categories-link:hover {
    text-decoration: underline;
}
/* ------------ /end Quote pages ------------ */
