{% load static %}
<header class="header">
  <div class="header__inner main-container">
    <a class="logo" href="{% url 'home' %}"><img class="logo__image" src="{% static 'images/main/logo.png' %}" alt="CAPEIL logo" /></a>

    <navbar class="navbar">
      <a class="navbar__link" href="{% url 'home' %}">Главная</a>
      <a class="navbar__link" href="{% url 'home' %}">Цитаты</a>
      <a class="navbar__link" href="{% url 'home' %}#philosophy">Философия</a>
      <a class="navbar__link" href="{% url 'home' %}#lab-expertise">LAB экспертиза</a>
    </navbar>
  </div>
</header>
