<nav class="pagination" aria-label="Pagination">
  <ul class="pagination__list">
    {% if page_obj.has_previous %}
      <li class="pagination__item">
        <a class="pagination__link pagination__link--arrows" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
          <span class="material-symbols-outlined">chevron_left</span>
        </a>
      </li>
    {% endif %}
    {% if page_obj.number > 3 %}
      <li class="pagination__item">
        <a class="pagination__link" href="{{ request.path }}?page=1">1</a>
      </li>
    {% endif %}
    {% if page_obj.number > 4 %}
      <li class="pagination__item">
        <span class="pagination__link pagination__link--dots">....</span>
      </li>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="pagination__item pagination__item--active">
          <span class="pagination__link">{{ i }}</span>
        </li>
      {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
        <li class="pagination__item">
          <a class="pagination__link" href="{{ request.path }}?page={{ i }}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
        <li class="pagination__item">
          <span class="pagination__link pagination__link--dots">....</span>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        </li>
      {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
        <li class="pagination__item">
          <a class="pagination__link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        </li>
      {% endif %}
      <li class="pagination__item">
        <a class="pagination__link pagination__link--arrows" href="?page={{ page_obj.next_page_number }}">
          <span class="material-symbols-outlined">chevron_right</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
