{% extends 'layouts/base.html' %}

{% block body_class %}
  body--asided categories-detail
{% endblock %}

{# prettier-ignore-start #}
{% block aside_wrapper %}
  {% with aside=True %}
    {{ block.super }}
  {% endwith %}
{% endblock %}
{# prettier-ignore-end #}

{% block content %}
  <h1 class="secondary-title">{{ category.name }}</h1>

  <div class="quotes-list">
    {% for quote in category.quote_set.all %}
      {# prettier-ignore-start #}
      {% include 'components/quote_card.html' with quote=quote %}
      {# prettier-ignore-end #}
    {% endfor %}
  </div>

  {% include 'layouts/pagination.html' %}
{% endblock %}
