<div class="glide__arrows-wrapper">
  <div class="glide__arrows main-container" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24">
        <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
      </svg>
    </button>

    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24">
        <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
      </svg>
    </button>
  </div>
</div>
